* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
      text-decoration: none;
}
a:hover {
  color: rgb(53, 78, 104);
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style-type: none;
}
button {
  outline: none;
}
.header-div {
  display: flex;
  flex-wrap: flex;
  /* justify-content: space-between; */
  width: 100%;
}
#plz-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.scores {
  text-align: left;
  /* width: 50%; */
  color: rgb(71, 211, 36);
  margin-top: 15px;
  margin-left: 15px;
}
.timer {
  text-align: right;
  /* width: 50%; */
  margin-top: 15px;
  margin-right: 15px;
}
header div ul li {
  list-style-type: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  width: 50%;
  height: 50%;
  border: 1px solid black;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .5);
  z-index: 10;
}
.question-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.answer-choice-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.quiz-title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  text-align: center;
  width: 100%;
}
.quiz-rules {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}
.button-div {
  display: flex;
  justify-content: center;
}
.quiz-button {
  background-color: rgb(8, 1, 15);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  margin: 3px;
  
}
.quiz-button:hover {
  background-color: rgb(238, 93, 115);
}
.score-header {
  font-size: 28px;
  margin: 5px;
}
.quiz-over {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80%;
  width: 80%;
}
.final-score {
  font-size: 23px;
}
.input-field {
  border: 2px solid black;
  border-radius: 2px;
  margin: 2px;
  height: 30px;
  width: 300px;
}
.button-submit {
  height: 30px;
  width: 120px;
  margin: 2px;
  background-color: rgb(43, 198, 226);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
.score-submit:hover {
  background-color: rgb(194, 255, 182);
}
.initial-record {
  font-size: 20px;
}
.highscores-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.highscores-container-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  width: 50%;
  height: 50%;
  border: 1px solid black;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .5);
}
#scores {
  margin-top: 10px;
}
.table-controls {
  margin-top: 15px;
}