* {
    box-sizing: border-box;
  }
  
  :root {
    font-size: 30px;
  }
  
  body {
    background:white;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  .container {
      margin-top: 10%;
  }

  #start-btn {
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    font-size: 32px;
  }

  h2 {
      display: flex;
      justify-self: end;
  }